# ========== Node Modules ==========
**/node_modules/

# ========== Environment Variables ==========
**/.env*
!**/.env.example

# ========== Logs ==========
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# ========== OS / System ==========
**/.DS_Store
*.pem

# ========== TypeScript ==========
**/*.tsbuildinfo
**/next-env.d.ts

# ========== Vercel ==========
**/.vercel/

# ========== Next.js ==========
**/.next/
**/out/

# ========== Yarn Plug'n'Play ==========
**/.pnp/
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/versions

# ========== Test Coverage ==========
**/coverage/

# ========== Build Outputs ==========
**/build/

# ========== Optional Extras ==========
*.log
